  @charset "utf-8";

  #container_home_header,
  #container_header {
    margin-top: 3em;
    background-repeat: no-repeat;
  }

  .nav_public {
    top: 0;
    background-image: none !important;
    padding-bottom: 0em;
    background-color: rgb(18, 36, 47); /* --dark-blue */
  }

  @media (min-width: 1000px) {
    .nav_public ul {
      justify-content: center;
      padding-left: 225px;
    }
  }

  .azusa-home-introduction {
    top: 3em;
    z-index: 1;
  }
  .azusa-home-introduction h3 .lowercase {
    font-style: italic;
    font-weight: normal;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }

  #container_header::after,
  #container_home_header::after {
    background-image: url(https://ees-ausd-ca.schoolloop.com/uimg/image/1301752510194/1486205650999/1506153081768.png);
  }

  .azusa-home-introduction::before {
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
  }

  /*
  @media (min-width: 1000px) {
  */
    #container_header::after {
      top: 1.5em;
    }
  /*
  }
  */
  #container_home_header,
  .azusa-home-introduction {
    height: 85vh !important;
    min-height: 55vw;
  }

  #container_home_header::after {
    bottom: auto;
    left: 50%;
    top: 2.25em;
    width: 25vw;
    height: 12.5vw;
    transform: translateX(-50%);
  }


  .azusa-home-introduction h3 {
    max-width: 12em;
  }



  .nav_public ul {
    display: block;
    padding-left: 9em;
    padding-right: 1.5em;
    display: block;
    text-align: left;
  }

  /* Special styles for Ellington */
  @media (min-width: 1000px) {
    .nav_public ul {
    }
  }

  .search_btn,
  .search_btn:hover {
    background-color: rgb(145, 178, 198); /* --light-blue */
    color: rgb(18, 36, 47); /* --dark-blue */
  }


  /* Hide the logo on the home page */
  .header_table tr + tr {
    display: none;
  }
  img[alt="spirit.png"] {
    display: none;
  }


  /* Override styles intended for the current website */
  .header_logo {
    float: none !important;
    width: auto !important;
    margin-bottom: 2em;
  }
  .header_logo + div {
    float: none !important;
    width: auto !important;
    height: auto !important;
  }
  .header_table .right_top {
    position: absolute;
    z-index: 1;
    top: 0.25em;
    right: 1.5em;
    width: auto;
  }
  .header_table .right_top label {
    color: white;
  }
  .header_table .right_top div[style="float: left"] {
    display: none;
  }
  .header_table .right_top td[style="padding: 0px 0px 0px 3px; vertical-align: middle;"] {
    padding-left: 0.75em !important;
  }
  #container_content_home,
  #container_content {
    background: #ffffff;
    background-image: none;
  }
  .content01 h2 {
    margin: 0px 0px 5px 0px;
    padding: 2px 10px 0px 3px;
    border-bottom: 2px #aaaaaa solid;
  }
  .content01,
  .content02,
  .content03 {
    background: transparent;
  }



  /* The “nav_public” element is located inside the “container_header” element 
  on this particular website */
  .header_logo + div {
    position: absolute;
    top: -3.3em;
    left: 0;
    width: 100% !important;
  }


  /* Temporary shim */
  body {
    position: static !important;
  }



  /* If the client supports object fit,  position it above the default banner image and crop it using object fit and height */
  @supports (object-fit: cover) {
    #container_content_home > .content_full > div > div[style="width: 100%; width: 970px"] > img[width="970"]:first-of-type,
    #page_title + table > tbody > tr > td > #block_hub_main_b > .block_content_main > div > div[style="width: 100%; width: 350px"] > img[width="350"]:first-of-type,
    #page_title + table > tbody > tr > td > #block_hub_main > .block_content_main > div > div[style="width: 100%; width: 465px"] > img[width="465"]:first-of-type,
    #page_title + #block_wide_main > .block_content_main > div > div[style="width: 100%; width: 700px"] > img[width="700"]:first-of-type {
      position: absolute;
      top: 3em;
      left: 0;
      width: 100%;
      height: 350px !important;
      height: 55vh !important;
      min-height: 32.5vw;
      object-fit: cover;
    }
    #container_content_home > .content_full > div > div[style="width: 100%; width: 970px"] > img[width="970"]:first-of-type {
      height: 85vh !important;
      min-height: 55vw;
    }

    #container_content_home > .content_full > div > div[style="width: 100%; width: 970px"] > img[width="970"]:first-of-type + .content_spacing,
    #page_title + table > tbody > tr > td > #block_hub_main_b > .block_content_main > div > div[style="width: 100%; width: 350px"] > img[width="350"]:first-of-type + .content_spacing,
    #page_title + table > tbody > tr > td > #block_hub_main > .block_content_main > div > div[style="width: 100%; width: 465px"] > img[width="465"]:first-of-type + .content_spacing,
    #page_title + #block_wide_main > .block_content_main > div > div[style="width: 100%; width: 700px"] > img[width="700"]:first-of-type + .content_spacing {
      display: none;
    }

    @supports (zoom: 1) {
      @media (min-width: 1300px) {
        #page_title + table > tbody > tr > td > #block_hub_main_b > .block_content_main > div > div[style="width: 100%; width: 350px"] > img[width="350"]:first-of-type,
        #page_title + table > tbody > tr > td > #block_hub_main > .block_content_main > div > div[style="width: 100%; width: 465px"] > img[width="465"]:first-of-type,
        #page_title + #block_wide_main > .block_content_main > div > div[style="width: 100%; width: 700px"] > img[width="700"]:first-of-type {
          height: 45vh !important;
          min-height: 25vw;
        }
      }
    }
  }



