
  @charset "utf-8";

  #container_home_header,
  #container_header {
    margin-top: 3em;
  }

  .nav_public {
    top: 0;
    background-image: none !important;
    padding-bottom: 0em;
    background-color: rgb(18, 36, 47); /* --dark-blue */
  }

  @media (min-width: 1000px) {
    .nav_public ul {
      justify-content: center;
      padding-left: 225px;
    }
  }

  .azusa-home-introduction {
    top: 3em;
  }
  .azusa-home-introduction h3 .lowercase {
    font-style: italic;
    font-weight: normal;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }

  #container_header::after,
  #container_home_header::after {
    background-image: url(images/ellington.png);
  }

  #container_home_header::before {
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
  }

  /*
  @media (min-width: 1000px) {
  */
    #container_header::after {
      top: -1.5em;
    }
  /*
  }
  */

  #container_home_header {
    background-image: url(images/students.png) !important;
    background-repeat: no-repeat;
    background-position: bottom !important;
    background-size: auto 70% !important;
  }
  #container_home_header,
  .azusa-home-introduction {
    height: 85vh !important;
    min-height: 55vw;
  }

  #container_home_header::after {
    bottom: auto;
    left: 50%;
    top: 2.25em;
    width: 25vw;
    height: 12.5vw;
    transform: translateX(-50%);
  }

  .azusa-students #container_header {
    background-image: url(images/students.jpg) !important;
    background-position: center !important;
  }

  .azusa-about #container_header {
    background-image: url(images/athletics-2.png), url(images/home-of-the-eagles.jpg) !important;
    background-position: 120px 100%, top right !important;
    background-size: auto 85%, cover !important;
    background-repeat: no-repeat;
  }

  .azusa-staff #container_header {
    background-image: url(images/students.jpg) !important;
    background-position: center !important;
  }

  .azusa-parents #container_header {
    background-image: url(images/student.jpg) !important;
    background-position: center !important;
  }

  .azusa-news #container_header {
    background-image: url(images/student.jpg) !important;
    background-position: center !important;
  }

  /*

  .azusa-activities #container_header {
    background-image: url(images/photos/aHR0cDovL2docy1hdXNkLWNhLnNjaG9vbGxvb3AuY29tL3VpbWcvaW1hZ2UvMTM1NjYxMjg2NjM4Ni8xMzQ1Mjc5MTU3MDQxLzE0ODU2ODI3NjUzMDQuanBnP2Nyb3BUb3A9MzMmY3JvcFJpZ2h0PTkwMCZjcm9wQm90dG9tPTYzMyZjcm9wTGVmdD0xMDAmYmFzaXNXaWR0aD0xMDAw.jpeg) !important;
    background-position: center !important;
  }

  .azusa-standards #container_header {
    background-image: url(images/students.jpg) !important;
    background-position: center !important;
  }

  .azusa-parents #container_header {
    background-image: url(images/instagram/14488205_724767584345061_195698733143293952_n.jpg) !important;
    background-position: center !important;

    height: 55vh !important;
    min-height: 45vw;
  }
  */


  .azusa-home-introduction h3 {
    max-width: 12em;
  }



  .nav_public ul {
    display: block;
    padding-left: 9em;
    padding-right: 1.5em;
    display: block;
    text-align: left;
  }

  /* Special styles for Ellington */
  @media (min-width: 1000px) {
    .nav_public ul {
    }
  }

  .search_btn,
  .search_btn:hover {
    background-color: rgb(145, 178, 198); /* --light-blue */
    color: rgb(18, 36, 47); /* --dark-blue */
  }


  /* Hide the logo on the home page */
  .header_table tr + tr {
    display: none;
  }
  img[alt="spirit.png"] {
    display: none;
  }


  /* Override styles intended for the current website */
  .header_logo {
    float: none !important;
    width: auto !important;
    margin-bottom: 2em;
  }
  .header_logo + div {
    float: none !important;
    width: auto !important;
    height: auto !important;
  }
  .header_table .right_top {
    position: absolute;
    z-index: 1;
    top: 0.25em;
    right: 1.5em;
    width: auto;
  }
  .header_table .right_top label {
    color: white;
  }
  .header_table .right_top div[style="float: left"] {
    display: none;
  }
  .header_table .right_top td[style="padding: 0px 0px 0px 3px; vertical-align: middle;"] {
    padding-left: 0.75em !important;
  }
  #container_content_home,
  #container_content {
    background: #ffffff;
    background-image: none;
  }
  .content01 h2 {
    margin: 0px 0px 5px 0px;
    padding: 2px 10px 0px 3px;
    border-bottom: 2px #aaaaaa solid;
  }
  .content01,
  .content02,
  .content03 {
    background: transparent;
  }



  /* The “nav_public” element is located inside the “container_header” element 
  on this particular website */
  .header_logo + div {
    position: absolute;
    top: -3.3em;
    left: 0;
    width: 100% !important;
  }
  #container_header,
  #container_home_header {
  }

